@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
#__nuxt, #__layout, html, body {
  height: 100% !important;
  width: 100% !important;
}

// Use the color in RGB format ( for can have the opacity )

html.light {
  // this color in RGB format : #355138 -> 53, 81, 56
  --color-primary: 53, 81, 56;
  --color-background: 236, 235, 232;
  --color-text: 11, 10, 10;

}

html.dark {
  --color-primary: 53, 81, 56;
  --color-background: 11, 10, 10;
  --color-text: 236, 235, 232;
}

// Font family

.anton {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: lighter;
}

.antonio {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
}